 /*AWAD KHALID KAI ELRICK ERIC SUN MR. CAMPBELL HEMA TOURNAMENT */
body {
  background-color: #ced9db;
  font-family: 'Solway', serif;
  font-size: 16px;
  text-align: left;
}

header {
  margin-top: -70px;
  margin-bottom: 60px;
  position : relative;
  right: 0px;
  width : 100%;
  height : 490px;
  color: #000000;
  background-color: #ffffff;
  font-size: 60px;
  text-align: center;
  font-family: "Titillium Web", serif;
}

table {
  margin: 5px auto 0px auto;
  text-align: center;
  border: solid 5px;
  padding : 5px;
  width : 1000px;
}

th, td {
  border-right: solid #EEFFF7 5px;
  border-left: solid #EEFFF7 5px;
}

th {
  font-size : 30px;
  font-family : "Odibee Sans", serif;
}

#poolDiv {
	display: none;
}


#eliminatio1nDiv {
	display: none;
}

#tabElim td {
  border-right: solid #EEFFF7 3px;
  border-left: solid #EEFFF7 3px;
  border-bottom: solid #AAAAAA 5px;
}


#emlimination2Div {
	display: none;
}


#resultsDiv {
	display: none;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: center;
}

nav p{
  margin: 10px;
  padding: 10px;
  font-size : 18px;
	background-color: #302E3E;
	font-family: 'Righteous', serif;
	border : #FFFFFF;
	border-radius : 20px;
	color: #FFFFFF;
  outline : none;

}

button{
  display: block;
  margin: 10px;
  padding: 10px;
  font-size : 18px;
	background-color: #302E3E;
	font-family: 'Righteous', serif;
	border : #FFFFFF;
	border-radius : 20px;
	color: #FFFFFF;
  outline : none;
  margin-left:auto;
  margin-right: auto;
}

#brandLogo{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#FVTB {
  font-weight: bold;
}
