/*<!-- AWAD KHALID; MR. CAMPBELL; PROGRAMMING 15-1 2/14/2020 -->*/
body {
  background-color: #2e8a0a;
  font-family: 'Solway', serif;
  font-size: 16px;
  text-align: left;
}

header {
  margin-top: -50px;
  margin-bottom: 60px;
  position : relative;
  right: 0px;
  width : 100%;
  height : 400px;
  color: #000000;
  background-color: #ffffff;
  font-size: 60px;
  text-align: center;
  font-family: "Titillium Web", serif;
}

table {
  margin: 5px auto 0px auto;
  text-align: center;
  border: solid 5px;
  padding : 5px;
  width : 1000px;
}

th, td {
  border-right: solid #EEFFF7 5px;
  border-left: solid #EEFFF7 5px;
}

th {
  font-size : 30px;
  font-family : "Odibee Sans", serif;
}

button {
	display : inline;
	position : relative;
	left : 42.1%;
	margin-top : 5px;
	margin-bottom : 5px;
	font-size : 18px;
	background-color: #302E3E;
	font-family: 'Righteous', serif;
	border : #FFFFFF;
	border-radius : 12px;
	color: #FFFFFF;
	outline : none;
}

#introDiv {
}


#poolDiv {
	display: hidden;
}


#eliminatio1nDiv {
	display: hidden;
}


#emlimination2Div {
	display: hidden;
}


#resultsDiv {
	display: hidden;
}
